body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.btns {
  z-index: 1000;
  position: relative;
  background-color: var(--bs-dark);
  color: white;
  width: fit-content;
  padding: 10px;
}
